* {
    box-sizing: border-box;
    margin:0;
    padding:0;

}

.container {
    max-width: 800px;
    margin: 0 auto;

}
body {
    background-color: rgba(187, 179, 179, 0.151);
}
html {

    font-family: "DM Sans", sans-serif;
}
header {
    background-color: white;
    height: 80px;
    margin-bottom: 35px;
    
}

header span {
    
    font-size: 50px;
    font-weight: 800;
    
    
}

.logo, .testo-logo {
    display: inline-block;
    padding-top: 5px;
    vertical-align: middle;
}

.logo {
    padding-left: 15px;
    
    
}
div {
    
    height: 80px;
    padding-left: 25px;
    padding-top: 40px;
    padding-bottom: 30px;
    border-bottom: 2px solid rgba(187, 179, 179, 0.151);
    
}

div span {
    font-size: 15px;
    
    font-size: 12px;
    padding:5px 10px;
    
    border-radius: 4px;
    
    vertical-align: middle;
}
menu {
    
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.white {
    
    border: 1px solid rgb(0, 153, 255);
    color: white;
    background-color: rgb(0, 153, 255);

}
.blue {
    border: 1px solid lightgray;
    background-color: white;
    color: lightgray;
}

.list {
    font-size: 20px;
    margin-top: 15px;
    
}

section span {
    font-size: 13px;
}
p {
    margin:5px 0;
}
section {
    padding-left: 25px;
}


.editorial {
    color:white;
    background-color: rgb(0, 153, 255);
    padding:5px 10px;
    border-radius: 10px;
    font-size: 10px;
}